*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 45rem;
    
}

body{
    font-family:  Copperplate,Copperplate Gothic Light,fantasy;
    background-color: #8B5E3C;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Feedback{
    background-color: #EDE6DB;
    height: 36rem;
    width: 30rem;
    margin: 1rem;
    margin-top: 1.5rem;
    border-radius: 40px; 
    align-items: center;
    display: inline-block;
    position: relative;
    text-align: center;
    
}

.title{
    font-size: 50px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    color: 	#1C1C1C; 
    height: 80px;
}


.instagram, .google {
    background-color: #8B5E3C;
    display: inline-block;
    width: 200px;
    height: 50px;
    align-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.instagram {
    margin-top: 37px;
}

.google {
    margin-top: 30px;
}


a {
    text-decoration: none;
    color: #F5F5F5;
}


.instagram:hover,
.google:hover {
    transform: scale(1.1); 
    background-color: #5B3924; 
}


.instagram:hover a,
.google:hover a {
    color: #F5F5F5; 
    text-decoration: none;
}



